body {
  font-family: "Arial", Helvetica, Arial;
  /* color: white;
  background-color: black; */
}

a {
  /* color: white; */
  color: black;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #807f7f;
  color: #807f7f;
}
