body {
  font-family: "Arial", Helvetica, Arial;
  /* color: white;
  background-color: black; */
}
.rec-carousel-item-hidden {
  height: 0;
}
.rec.rec-arrow {
  display: none;
}

.rec.rec-dot_active {
  background-color: white;
  margin-top: 5;
  margin-bottom: 0;
  box-shadow: 0 0 1px 3px;
}
.prevbtn {
  background-color: transparent;
}

.nextbtn {
  float: right;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: black;
}

.marketplace {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.productPreview {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 1%;
  margin-right: 1%;
}
.productPreview p {
  margin: 0;
  float: bottom;
}
.productInfo {
  float: bottom;
  height: fit-content;
}
